* {
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
}

img {
    width: 200px;
    height: 400px;
    object-fit: cover;
}

.avatar {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

#main-photo {
    width: 50px;
    height: 100px;
    object-fit: cover;
}

h1 {
    color: blue;
}

.menuitem {
    border-radius: 4px;
    margin: 4px;
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    padding: 2px;
    cursor: pointer;
}

.menuitem:hover {
    background-color: #33ad14;
}

.linkedin {
    border: 1px palegreen;
    background-color: transparent;
    border-radius: 4px;
}